*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.slider img.active{
    display: block;
}
.slider img:not(.active),h3:not(.active), p:not(.active){
    display: none;
}
.prev{
    position: absolute;
    top: 7px;
    right: 50%;
    
    
    
}
.next{
    position: absolute;
    right: 50%;
    
    

}

.tumbnails img{
    width: 170px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 3px solid white;
}

.tumbnails img.select{
    opacity: 100%;
    display: block;
}
.tumbnails img:not(.select){
    opacity: 50%;
    display: block;
}
